.principal_title span:nth-child(1){
    color:orangered;
}
.principal_title span:nth-child(2){
    color:blue;
}
.principal_title span:nth-child(3){
    color:rgb(230, 28, 62);
}
.principal_title span:nth-child(4){
    color:lawngreen;
}
.principal_title span:nth-child(5){
    color:yellow;
}
.principal_title span:nth-child(6){
    color:purple;
}
.principal_title span:nth-child(7){
    color:rgb(39, 190, 190);
}
.principal_title span:nth-child(8){
    color:rgb(116, 206, 26);
}
.principal_title span:nth-child(9){
    color:red;
}
.index-icon{
    width: 200px !important; 
    height: 100px !important;
    margin-top: 3rem;
}
.bg-shadow{
    background: rgba(0, 0, 0, 0.5);
}

.carousel-img-md{
    height: 150px;
    object-fit: contain;
}

.carousel-img-md-2{
    height: 350px;
    object-fit: contain;
}

.img-md{
    height: 40rem;
    object-fit: contain;
}

@media only screen and (max-width: 769px){
    .index-icon{
        width: 150px !important; 
        height: 55px !important;
    }
}